* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 100vh;
    margin: 0;
}

#board {
    display: grid;
    position: fixed;
    top: calc(70% - 350px);
    left: calc(50% - 225px);
    width: 500px;
    height: 550px;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 10px;
    background-color: white;
}

.quad {
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
}

.cannon-container {
    display: grid;
    position: fixed;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 1fr;
    width: 500px;
    height: 100px;
    top: calc(50% - 300px);
    left: calc(50% - 225px);
    background-color: white;
}

.cannon {
    display: block;
}

.cannon-icon {
    width: 80px;
    height: auto;
}
/* <a href="https://www.flaticon.com/free-icons/cannon" title="cannon icons">Cannon icons created by Nhor Phai - Flaticon</a> */




